.kota {
  float: left;
  width: 790px;
  height: 490px;
  line-height: 490px;
  text-align: center;
  padding: 5px;
} 


.jaka {
  width: 185px;
  background-color: cyan;
}

.band {
  width: 390px;
  background-color: yellow;
}

.sura {
  width: 185px;
  background-color: magenta;
}